*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.top-bar {
    background: black;
    color: white;
    text-align: center;
    padding: 8px 0;
    font-size: 14px;
    margin: auto;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background: white;
    border-bottom: 1px solid #ddd;
}

/* Logo stripes */
.logo img{
    width: 100px;
    margin-right: 250px;
}


.main-nav a {
    margin: 0 15px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.right-side {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-box {
    position: relative;
    display: flex;
    align-items: center;
    
}
.search-box input {
    padding: 8px 40px 8px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.search-box i {
    position: absolute;
    right: 10px;
    top: 3px;
    font-size: 8px;
    color: #555;
}

/* icons */
.icon {
    position: relative;
    font-size: 20px;
    cursor: pointer;
}

/* notification badge */
.profile-icon .badge {
    position: absolute;
    top: -5px;
    right: -8px;
    background: #4d9e6e; /* მწვანე */
    color: white;
    font-size: 11px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

/* CART DROPDOWN */
.cart-icon {
    position: relative;
}

.cart-dropdown {
    position: absolute;
    top: 35px;
    right: -20px;
    width: 250px;
    padding: 20px;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: none;
    z-index: 50;
}

.cart-dropdown p {
    font-weight: bold;
    color: black;
    margin: 0;
}

/* SHOW ON HOVER */
.cart-icon:hover .cart-dropdown {
    display: block;
}

.right-side i{
    font-size: 23px;
}
.right-side input {
    padding: 6px 10px;
    border: 1px solid #bbb;
    border-radius: 4px;
}

.icon {
    font-size: 20px;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}
nav a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 15px;
}

/* MEGA MENU */
.menu-item {
    position: relative;
}

.mega-menu {
    position: absolute;
    left: 0;
    top: 100%;
    width: 900px;
    background: white;
    padding: 30px;
    display: none;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    border: 1px solid #ddd;
}

/* show mega menu on hover */
.menu-item:hover .mega-menu {
    display: grid;
}

/* column style */
.column h3 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 12px;
}

.column a {
    display: block;
    margin: 5px 0;
    color: #333;
    font-size: 14px;
}

/* image column */
.image-col img {
    width: 100%;
    border-radius: 4px;
}

.image-col p {
    margin-top: 10px;
    font-weight: bold;
}


main{
    background-image: url(images/xcat_fw25_holiday_nov_htt_orig_bnr_d_a7d3221140.avif);
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
